html {
	width: 100%;
	background-color: #fff;
	body {
		width: 80%;
		margin: 30px auto;
		background-color: #eee;
		border-radius: 3px;
		padding: 20px 0;
		a {
			text-decoration: none;
			color: #f8577e;
		}
		.horizontal-center {
			margin: 10px auto;
		}
		.title {
			text-align: center;
		}
		figure.img-banner {
			margin: 10px 5%;
			background-color: #333;
			border-radius: 3px;
			overflow: hidden;
			/*border: 1px solid #fff;*/
			img {
				max-width: 100%;
			}
			figcaption {
				text-align: center;
				color: #fff;
				line-height: 40px;
			}
		}
		section.more {
			margin: 20px 10%;
		}
		.padding {
			margin: 20px 10%;
		}
	}
}



